*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: "Merriweather", serif;
    background-color:#ebf2ff;
}
.container{
    max-width:100%;
    padding:0 20px;
    margin:0 auto;
}
.button__primary{
    background-image:linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
color:#fff;
border:none;
padding:12px;
border-radius:6px;
cursor:pointer;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content:space-between;
    background-color:#fff;
}
.navbar__brand{
    width:100px;
}
.navbar__logo{
    width:100%;
}
.nav__item{
    background-image:linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
color:#fff;
border:none;
padding:12px;
margin-right:10px;
border-radius:6px;
cursor:pointer;
}
.hero__image__container{
    width:100%;
    position:relative;
}
.hero__image{
    width:100%;
    border-radius:10px;
    box-shadow:0 25px 50px -12px rgba(0,0,0,0.25);
    position:absolute;
}
.hero__svg__merger
{
    position:relative;
    z-index: -3;
}
.hero__image__svg{
    position:absolute;
}
.hero__text{
    font-size:30px;
    margin:20px 0;
}
.button__primary:hover,.nav__item:hover{
    background-image:linear-gradient(to right,#fff,#ebf2ff,#fff);
    color:crimson;
    border:2px solid crimson;
    border-radius:6px;
}
.food__card{
    background-color:#fff;
    border-radius:8px;
    margin-bottom:15px;
}
.food__card:hover{
    color:goldenrod;
    font-size: 25px;
}
.food__card__image__container{
    width:100%;
}
.food__image{
    width:100%;
    border-radius:8px 8px 0 0 ;
}
.food__card__description{
    padding:15px;
}
.explore__menu__text{
    font-size:30px;
    margin-top:50px;
    margin-bottom:25px;
    text-align: center;
}
.explore__menu__button{
    width:100%;
}
.restaurant__images__container{
    width:100%;
    margin-bottom:80px;
}
.restaurant__images__row__one{
width:100%;
display:flex;
gap:3px;
align-items:baseline;
margin-bottom:3px;
}
.restaurant__images__row__two{
    width:100%;
    display:flex;
    gap:3px;
}
.restaurant__image__1,.restaurant__image__4{
    width:100%;
    height:120px;
}
.restaurant__image__2,.restaurant__image__3{
    width:120%;
    height:200px;
}

.restaurant__1,.restaurant__2,.restaurant__3,.restaurant__4{
    width:100%;
    height:100%;
    border-radius:6px;
}
.restaurant__text{
    font-size:30px;
    margin-top:50px;
    margin-bottom:25px;
    text-align: center;
}
.stay__updated{
    font-size:30px;
    margin-bottom :10px;
}
.email__box{
    height:40px;
    width:200px;
    background-color:rgb(252,237,240);
    border:1px solid pink;
    border-radius:5px;
}
.input__email{
    display:flex;
}
.email__box{
    margin-right:10px;
}
.user{
    margin-bottom:80px;
}
.footer__container{
    color:white;
    text-align:center;
    padding-top:60px;
    background-image:linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    border-radius:20px 20px 0 0;
    font-family: "Merriweather", serif;
    width:100%;
}
.footer__heading{
    margin-bottom:60px;
    font-size:70px;
    font-style:italic;
    font-weight: 900;
}
.footer__content{
   list-style-type: none;
   display:flex;
   flex-direction: column;
   align-items:flex-start;
}
.footer__content__item{
    padding-bottom:5px;
    margin-left:90px;
}
/* in background image we have used gradient to ensure that the backgrounsd coloe must 
be comprised of all these colors */
@media (min-width:768px){
    .navbar{
        justify-content:space-between;
        padding:0px 30px;
    }
    .hero__container{
        margin-top:20px;
        display:flex;
        flex-direction:row-reverse;
        align-items:center;
    }
    .explore__menu__lists{
        display:flex;
        gap:15px;
        margin-top:40px;
        padding:20px;
    }
    #pizza__card{
        margin-top:-20px;
        margin-bottom:30px;
    }
    .explore__menu__view__more{
        display:flex;
        justify-content: center;
    }
    .explore__menu__container{
        position:relative;
    }
    .explore__menu__gradient__bg{
       position:absolute;
       width:100%;
       height:100%;
       top:0;
       left:0;
       background-image:linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    transform:skewY(-5deg);
    z-index:-3;
    }
    .restaurant__container{
        display:flex;
        align-items:center;
        justify-content: flex-start;
    }
    .restaurant__text{
        width:100%;
        font-size:40px;
    }
    section{
        margin-bottom:80px;
        }
        .explore__menu__button{
            width:150px;
        }
        .user{
            text-align:center;
        }
        .input__email{
           margin-left:150px;
        }
        .email__box{
           width:400px;
        }
        .footer__container{
            display:flex;
             justify-content: space-around;
             align-items: center;
        }
        .footer__content{
            width:100%;
            margin-bottom:40px;
        }
        .footer__heading{
            width:100%;
        }

}
@media (min-width:1020px){
    .container{
        max-width:900px;
    }
    .navbar__brand{
        width:120px;
    }
    .button__primary .nav__item{
        padding:20px;
        font-size:20px;
    }
    .hero__description{
        width:100%;
    }
    .hero__text{
        font-size:50px;
    }
    .explore__menu__lists{
        gap:40px;
    }
    .explore__menu__text{
        font-size:50px;
    }
  
}
@media (min-width:1400px)
{
    .container{
        max-width:1250px;
    }
    .input__email{
        margin-left:320px;
     }
     .email__box{
        width:400px;
     }
}
